/* Center the navbar content horizontally and set its background color */
.navbar {
  display: flex;
  align-items: center;
  background-color: #ffffff; /* Set your desired background color */
  color: black; /* Text color */
  padding: 15px 0 5px 0;
  margin-bottom: 10px;
  margin-top: 20px;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow-x: auto; /* Add a horizontal scrollbar if necessary */
  border-bottom: 1px solid #dee2e6; /* Add a thin grey line at the bottom */
}

/* Style the logo */
.logo {
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold;
  margin-left: 20%; /* Add a margin to move the logo slightly to the left */
  margin-bottom: 1rem;
}

/* Style the navigation links */
.nav-links {
  font-size: 1rem;
  list-style: none;
  display: flex;
  gap: 40px; /* Adjust the gap between links as needed */
  margin-right: 20%; /* Add margin to separate the logo from links */
}

/* Style the links */
.nav-links a {
  text-decoration: none;
  color: inherit;
  position: relative; /* To position the underline */
}

/* Add an underline on hover */
.nav-links a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px; /* Set your desired underline height */
  bottom: -10px;
  left: 50%; /* Start from the center */
  transform: translateX(-50%); /* Center the underline */
  background-color: black; /* Set the underline color */
  transition: width 0.3s ease; /* Add a transition for animation */
}

.nav-links a:hover::before {
  width: 100%; /* Expand the underline to 100% width on hover */
}
